body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

/* SCANNER */
#reader {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

/* RESUMEN */
.resumen {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}