body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

/* TABLA */
.table th {
  color: rgb(33, 85, 180);
  background: #f1f1f1;
}

td {
  text-transform: capitalize;
}

tbody tr:hover {
  background-color: #e6f7ff;
}

/* FILAS */
.fila-presente {
  background-color: #d1e7dd !important;
}

.fila-adicional {
  background-color: #fff3cd !important;
}

/* SCANNER */
#reader {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

/* RESUMEN */
.resumen {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}

.scanner-container {
  position: relative;
  margin-bottom: 10px;
}

/* reduce tamaño general */
#reader {
  width: 100% !important;
}

/* 🔥 overlay oscuro */
#reader video {
  border-radius: 10px;
}

/* simular enfoque tipo scanner */
#reader::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 10%;
  width: 80%;
  height: 80px;
  border: 2px solid #00ff88;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,255,136,0.6);
}

/* opcional: oscurecer alrededor */
#reader::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
}